body{
    background-color: gray;
    
}

div{
    align-self: center;
    
}

#headerbox{
    
    display: flex;
    align-content: center;
    justify-content: center;
    
}

#asideBox{
    display: flex;
    
    width: 100px;
    float: left;
    background-color: aqua;
    width:33%;
}